%div{:class => "main-text hide-mobile"}
  %h1
    = @page_title

= render partial: 'shared/my_collection', locals: {collection: @bookmarks, url_params: {controller: 'bookmarks', action: 'index'}, name: nil}

