%div 亲爱的朋友

%p 感谢您注册迷蝴蝶文学社区！

%h2{:class => "subTitle" , :style => "font-size: 14px;font-weight: bold;color: #000000;font-style: normal;"}
  开站大礼！

%p Welcome!  Hopes you like to read cause we got plenty of that.

%a{:href => register_email_verify_url(@user.public_id) , :style => "color: #294B73;text-decoration: underline;font-weight: normal;"}
  Click here to confirm your email and get your free month
