@charset "UTF-8";
/* CSS Document */
/*reset*/
html {
  -webkit-text-size-adjust: none; }

html, body, dl, dd, h1, h2, h3, h4, h5, h6, p, form {
  margin: 0; }

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

input, button, select, textarea {
  outline: none;
  padding: 0; }

textarea {
  resize: none; }

img {
  border: none; }

em, i, s {
  font-style: normal; }

a {
  text-decoration: none;
  color: #666666; }
  a:hover {
    color: #048d9f; }

.l {
  float: left; }

.r {
  float: right; }

.hide {
  display: none; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

/* Hide from IE Mac */
.clearfix {
  display: block; }

/* End hide from IE Mac */
/* end of clearfix */
.btn, .button-green, .button-red, .button-orange, .button-light, .button-primary {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  padding: .5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: 0 rgba(0, 0, 0, 0);
  text-align: center;
  background: #E6E6E6;
  text-decoration: none;
  border-radius: 2px; }
  .btn:hover, .button-green:hover, .button-red:hover, .button-orange:hover, .button-light:hover, .button-primary:hover {
    color: #eeeeee; }

.button-green, .button-red, .button-orange, .button-light, .button-primary {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
  .button-green:hover, .button-red:hover, .button-orange:hover, .button-light:hover, .button-primary:hover {
    color: white; }

.button-green {
  background: #1cb841 !important; }
  .button-green:hover {
    color: #e5e5e5;
    background: #1eca47; }

.button-red {
  background: #ca3c3c !important; }
  .button-red:hover {
    color: #e5e5e5;
    background: #de4242; }

.button-orange {
  background: #df7514 !important; }
  .button-orange:hover {
    color: #e5e5e5;
    background: #f58016; }

.button-light {
  background: #4eb1d1 !important; }
  .button-light:hover {
    color: #e5e5e5;
    background: #55c2e5; }

.button-primary {
  background: #4ba2bd !important; }
  .button-primary:hover {
    color: #e5e5e5;
    background: #52b2cf; }

.notice, .bg-primary, .bg-green, .bg-light, .bg-orange, .bg-red {
  color: white;
  padding: 15px;
  margin: 0 0 10px;
  border-radius: 5px; }

.bg-primary {
  background: #4ba2bd; }

.bg-green {
  background: #1cb841; }

.bg-light {
  background: #4eb1d1; }

.bg-orange {
  background: #df7514; }

.bg-red {
  background: #ca3c3c; }

.button-disabled, .button-disabled:hover {
  border: 0;
  color: #444;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter: alpha(opacity=40);
  -khtml-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  cursor: not-allowed;
  box-shadow: none; }

.form fieldset {
  margin: 0;
  padding: .35em 0 .75em;
  border: 0; }
.form legend {
  border: 0;
  display: block;
  width: 100%;
  padding: .3em 0;
  margin-bottom: .3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5; }
.form label {
  display: block;
  margin: .75em 0; }
.form input[type=text], .form input[type=password], .form textarea, .form select {
  padding: .5em .6em;
  margin: 0 inherit;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .form input[type=text]:focus, .form input[type=password]:focus, .form textarea:focus, .form select:focus {
    outline: 0;
    border-color: #4ba2bd; }
  .form input[type=text].error, .form input[type=password].error, .form textarea.error, .form select.error {
    border-color: #df7514;
    color: #ca3c3c; }

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px; }

.header {
  background: #048d9f; }
  .header .header-warp {
    max-width: 1200px;
    margin: 0 auto; }
  .header .nav {
    width: auto; }
    .header .nav ul {
      max-width: 1200px;
      margin: 0 auto;
      clear: both; }
    .header .nav li {
      display: inline-block;
      zoom: 1;
      vertical-align: middle; }
    .header .nav a {
      color: white;
      line-height: 240%;
      display: block;
      padding: 5px 20px; }
      .header .nav a:hover, .header .nav a.hover {
        background: #2c9f9c; }
    .header .nav .show_category {
      display: none; }
  .header .header-side {
    padding: 5px 20px 0;
    float: right; }
    .header .header-side li {
      display: inline-block;
      zoom: 1;
      vertical-align: middle; }
    .header .header-side a {
      padding: 5px 20px;
      color: white;
      line-height: 28px; }
    .header .header-side .search-bar {
      position: relative; }
      .header .header-side .search-bar .icon_search {
        display: none; }
      .header .header-side .search-bar.hover .icon_search {
        background: #D5E1E4;
        position: relative;
        z-index: 88;
        box-shadow: 0  -1px 1px #333; }
  .header .top {
    padding: 0 0 10px;
    width: auto;
    height: 42px;
    max-width: 1200px;
    margin: 0 auto; }
  .header .logo {
    float: left;
    padding: 10px 20px 0;
    line-height: 33px; }
    .header .logo a {
      padding: 0 !important;
      display: block;
      font-size: 20px; }

.content {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }

.footer {
  border-top: 1px solid #666666;
  padding: 10px 0; }

.content_side, .content_main {
  float: left;
  padding: 20px 0; }

.content_side {
  width: 20%; }

.content_main {
  width: 80%; }

.main_text {
  margin-bottom: 20px;
  color: #666666;
  line-height: 180%; }
  .main_text h1, .main_text h2 {
    margin-bottom: 15px;
    color: #048d9f; }
  .main_text p {
    margin-bottom: 15px; }
  .main_text a {
    color: #048d9f; }

.index-list {
  margin: 0 0 20px; }
  .index-list h3 {
    color: #048d9f; }
  .index-list li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 240%; }

.last-review li {
  margin-right: 20px; }

.hot li {
  margin-right: 20px; }

.book-category ul {
  font-size: 0; }
  .book-category ul li {
    width: 30%;
    font-size: 14px; }

.crumbs {
  padding: 10px 0; }

.book-list ul {
  padding: 10px 0 50px;
  font-size: 0; }
.book-list li {
  line-height: 240%;
  font-size: 14px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 25%;
  margin-right: 6%;
  position: relative;
  padding: 0 1%; }
  .book-list li > span {
    float: right;
    color: #999999;
    display: none; }
  .book-list li > a {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear; }
  .book-list li p span {
    float: none; }
  .book-list li .detail-span {
    position: absolute;
    top: 33px;
    left: 0;
    display: none;
    opacity: 0; }
    .book-list li .detail-span > p {
      max-height: 200px;
      overflow: auto; }
    .book-list li .detail-span > strong {
      display: block;
      padding-top: 10px; }
  .book-list li.hover {
    background: #F4F4F4; }
    .book-list li.hover > a {
      color: #048d9f;
      font-weight: 700; }
    .book-list li.hover .detail-span {
      display: block;
      background: #F4F4F4;
      width: 500px;
      z-index: 88;
      padding: 20px;
      line-height: 20px;
      opacity: 1; }
      .book-list li.hover .detail-span .detail-span-action {
        padding-top: 20px; }
        .book-list li.hover .detail-span .detail-span-action a {
          margin-right: 10px;
          width: 30%; }
  .book-list li.side .detail-span {
    left: inherit;
    right: 0; }
    .book-list li.side .detail-span .detail-span-action {
      text-align: right; }
      .book-list li.side .detail-span .detail-span-action a {
        margin: 0 0 0 10px;
        width: 30%; }

.book-box {
  margin-bottom: 20px; }
  .book-box h3 {
    background: #D5E1E4;
    padding: 5px; }

.book-box-m {
  padding: 10px 5px; }

.comment textarea {
  margin: .25em 0;
  display: block;
  width: 100%; }

.comment-list li {
  overflow: hidden;
  margin-bottom: 10px; }
  .comment-list li strong {
    float: left; }
  .comment-list li p {
    float: left;
    padding-left: 10px; }

.reading-page-md {
  margin: 0 auto;
  background: #D8DEDF;
  padding: 50px;
  box-shadow: 0 0 8px #555;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei,"宋体","arial", "Microsoft YaHei";
  color: #333;
  font-size: 16px;
  line-height: 180%; }

.chapter_title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: '黑体';
  text-align: center;
  padding: 0 30px; }

.chapter-info {
  font-size: 12px;
  text-align: center;
  padding: 0 30px; }

.side-menu {
  position: fixed;
  width: 45px !important;
  right: 0 !important;
  left: inherit !important;
  background: none;
  bottom: 2%; }
  .side-menu li {
    background: #c1c1c1;
    text-align: center;
    border-bottom: 1px solid #aaa; }
    .side-menu li a {
      padding: 10px 0;
      display: block;
      line-height: 25px; }
      .side-menu li a:hover {
        background: #eee; }
  .side-menu li.back-top {
    margin-top: 5px; }
  .side-menu li.them-list ul {
    -webkit-transition: height 0.3s linear;
    -moz-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
    -ms-transition: height 0.3s linear;
    transition: height 0.3s linear;
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    -ms-transition: left 0.3s linear;
    transition: left 0.3s linear;
    height: 0;
    overflow: hidden;
    width: 45px;
    left: 0; }
    .side-menu li.them-list ul li {
      line-height: 45px;
      cursor: pointer; }
  .side-menu li.them-list.active ul {
    height: inherit; }

.page-bar {
  text-align: center;
  padding: 20px 0;
  clear: both; }
  .page-bar em, .page-bar a, .page-bar span {
    display: inline-block;
    zoom: 1; }
  .page-bar em {
    padding: 0 .8em; }
  .page-bar a, .page-bar span {
    margin: 0 10px;
    background-color: #E6E6E6;
    padding: .8em 1.4em;
    height: 1.1em;
    vertical-align: top;
    line-height: 1.1em; }
    .page-bar a:hover, .page-bar span:hover {
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
      background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.1));
      background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }
  .page-bar span {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
    cursor: default; }

.content .form button {
  font-size: 16px;
  padding: .5em 3em; }
.content .form p {
  padding: 8px 0; }
.content .form a {
  color: #048d9f; }

.form-model {
  width: 600px;
  margin: 0 auto;
  padding: 0 0 20px 0;
  clear: both; }
  .form-model h2 {
    font-size: 36px;
    font-weight: normal;
    color: #261d0d;
    font-family: "Microsoft YaHei";
    text-align: center;
    padding: 0 30px;
    margin-bottom: 50px; }
  .form-model .ipt-text {
    line-height: 160%;
    display: block;
    width: 100%; }

.form-action {
  padding-top: 10px; }
  .form-action a {
    line-height: 38px; }
  .form-action .form-action-r {
    text-align: right; }
  .form-action label.pure-checkbox {
    display: inline-block !important; }

.user-center {
  padding: 20px 0;
  padding-left: 220px; }

.user-center-menu {
  float: left;
  width: 200px;
  margin-left: -220px;
  border: 1px solid #b7b7b7; }
  .user-center-menu h3, .user-center-menu a {
    display: block;
    color: inherit;
    line-height: 1.5em;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap; }
  .user-center-menu h3 {
    color: #565d64;
    text-transform: uppercase;
    font-size: 90%;
    margin-top: .5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dfdfdf; }
  .user-center-menu li.active a {
    background: #eee;
    color: #048d9f; }
  .user-center-menu a {
    color: #777; }
    .user-center-menu a:hover {
      background: #eee;
      color: #048d9f; }

.page-title {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 30px;
  overflow: hidden;
  width: 100%; }
  .page-title h3 {
    font-size: 18px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    float: left;
    line-height: 34px; }

.search-list {
  margin-bottom: 15px; }
  .search-list ul li {
    padding-right: 0;
    width: 100%; }
    .search-list ul li h4 a {
      color: #048d9f; }
    .search-list ul li em {
      background: #4ba2bd;
      color: white; }

.book-list-block {
  overflow: hidden; }
  .book-list-block li {
    display: block;
    padding: 10px 100px 10px 20px;
    width: inherit;
    border-top: 1px solid #ccc;
    position: relative;
    margin-top: -1px; }
    .book-list-block li h4 {
      font-size: 16px; }
      .book-list-block li h4 a {
        color: #333; }
    .book-list-block li p {
      /*max-height: 96px;overflow: auto;*/
      line-height: 24px;
      color: #666666; }
      .book-list-block li p strong {
        color: #333333; }
      .book-list-block li p span {
        color: #f60; }
    .book-list-block li .control {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 100px;
      text-align: right; }
      .book-list-block li .control a {
        margin-bottom: 10px; }
        .book-list-block li .control a:hover {
          color: #fefefe; }
    .book-list-block li:hover {
      background: #F7F8F8; }
      .book-list-block li:hover .control {
        display: block; }

.theme-item {
  padding: 20px;
  position: relative;
  border: 1px solid #ccc;
  margin-top: -1px;
  cursor: pointer; }
  .theme-item p {
    margin-right: 50px; }
    .theme-item p strong {
      display: block;
      margin-bottom: 10px; }
  .theme-item .control {
    position: absolute;
    right: 20px;
    top: 10px; }
  .theme-item span {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #ffa800;
    font-size: 16px; }

.theme-1 {
  font-size: 12px !important;
  background: white !important;
  color: #333333 !important; }

.theme-2 {
  font-size: 12px !important;
  background: #333333 !important;
  color: white !important; }

.theme-3 {
  font-size: 14px !important;
  background: white !important;
  color: #333333 !important; }

.theme-4 {
  font-size: 14px !important;
  background: #333333 !important;
  color: white !important; }

.theme-5 {
  font-size: 16px !important;
  background: white !important;
  color: #333333 !important; }

.theme-6 {
  font-size: 16px !important;
  background: #333333 !important;
  color: white !important; }

.book-form {
  overflow: hidden; }
  .book-form p a {
    color: #048d9f; }
  .book-form .form:first-child {
    margin-right: 4%; }
  .book-form .form .ipt-text {
    display: block;
    width: 45%;
    margin: .25em 0; }
    .book-form .form .ipt-text.ipt-block {
      width: 90%; }
  .book-form .form_l, .book-form .form_r {
    width: 45%;
    float: left; }
    .book-form .form_l .ipt-text, .book-form .form_r .ipt-text {
      width: 90%; }

.mobile-header {
  display: none; }

.head-side-menu .menu-link-m {
  position: absolute;
  width: 150px;
  right: 0;
  top: 45px;
  display: none; }
  .head-side-menu .menu-link-m ul {
    position: absolute;
    z-index: 998;
    background: #fff;
    box-shadow: 0 0 3px #333;
    width: 100%; }
    .head-side-menu .menu-link-m ul li {
      display: block;
      text-align: center;
      line-height: 26px;
      font-size: 16px; }
      .head-side-menu .menu-link-m ul li a {
        color: #333;
        display: block;
        line-height: 1.5em; }
        .head-side-menu .menu-link-m ul li a:hover {
          background: #eee; }

.menu-link {
  height: 22px;
  display: none;
  margin-top: -4px; }
  .menu-link span {
    position: relative;
    display: block;
    margin-top: 0.9em;
    background-color: white;
    cursor: pointer;
    width: 16px;
    height: 2px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear; }
    .menu-link span:before, .menu-link span:after {
      background-color: white;
      width: 100%;
      height: 2px;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      transition: all 0.4s linear;
      position: absolute;
      top: -.55em;
      content: " "; }
    .menu-link span:after {
      top: .55em; }

.icon_prev {
  position: relative;
  display: inline-block;
  zoom: 1; }
  .icon_prev span {
    overflow: hidden;
    width: 25px;
    display: inline-block; }
    .icon_prev span:before {
      content: '';
      height: 14px;
      width: 14px;
      display: block;
      border: 3px solid white;
      border-right-width: 0;
      border-bottom-width: 0;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      position: absolute;
      top: 7px; }

.icon_search {
  height: 33px;
  width: 40px;
  padding: 0 !important; }
  .icon_search span {
    position: relative;
    top: 5px;
    display: block;
    left: 10px; }
    .icon_search span:before, .icon_search span:after {
      content: '';
      height: 10px;
      display: block;
      position: absolute;
      top: 0;
      left: 0; }
    .icon_search span:before {
      width: 10px;
      border: 3px #333 solid;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%; }
    .icon_search span:after {
      width: 4px;
      background: #333;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      top: 12px;
      left: 14px; }

@media (max-width: 35.5em) {
  .button-green, .button-light, .button-orange, .button-primary, .button-red {
    width: 100%;
    box-sizing: border-box;
    line-height: 32px; }

  .menu-link {
    display: block; }

  input, select, textarea {
    font-size: 16px;
    padding-top: 0.4em !important;
    padding-bottom: 0.4em !important; }

  .mobile-header {
    display: block;
    padding: 10px 0;
    background: #048d9f;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; }

  .mobile-header h2 {
    text-align: center;
    font-size: 20px;
    line-height: 33px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis; }

  .icon_search span:before {
    border-color: white; }
  .icon_search span:after {
    background: white; }

  .search-bar input {
    display: inline-block !important;
    width: 180px;
    vertical-align: middle; }
  .search-bar button {
    width: auto;
    margin: 0 !important;
    padding: 0 1em;
    min-height: 32px; }

  .header .header-side {
    float: none;
    padding: 10px 5px 10px 0; }
  .header .nav {
    padding: 0;
    display: none;
    background: #037e8f;
    width: 100%; }
    .header .nav a {
      padding: 5px 10px; }
    .header .nav .show_category {
      display: inline-block; }
      .header .nav .show_category ul {
        display: none;
        background: #049bae;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 999;
        padding: 5px 0; }
        .header .nav .show_category ul a:hover {
          background: #037e8f; }

  .page .header {
    display: none; }
  .page .mobile-header {
    display: block; }

  .header .top {
    padding: 0 0 10px;
    background: #048d9f;
    color: white; }

  .header .top a, .mobile-header a {
    color: white;
    padding: 5px 10px; }

  .search-bar .icon_search {
    display: block !important; }
  .search-bar .form {
    position: absolute;
    display: none;
    right: 0;
    width: 240px;
    background: #D5E1E4;
    padding: 5px;
    box-shadow: 0 0 3px #333;
    top: 33px; }
  .search-bar.hover .form {
    display: block; }
  .search-bar.hover .icon_search span:before {
    border-color: #333; }
  .search-bar.hover .icon_search span:after {
    background: #333; }

  .content {
    margin: 0 10px;
    padding: 10px 0; }
    .content form .button {
      font-size: 22px !important; }
    .content form button[type=submit] {
      margin: .7em 0 0; }

  .index-list {
    margin: 0 0 10px;
    padding: 0; }

  .last-review li, .hot li {
    margin-right: 10px; }

  .book-category ul li {
    width: 25%; }

  .content .content_side {
    display: none; }
  .content .content_main {
    float: none;
    width: 100%;
    padding-top: 0; }

  .form-model {
    width: 100%;
    padding: 0 0 20px 0; }
    .form-model h2 {
      margin: 0; }
    .form-model .form-action-r {
      text-align: left;
      float: none;
      clear: both; }
    .form-model .form-action-r button {
      width: 100%; }

  .crumbs {
    display: none; }

  .book-list li {
    width: auto;
    display: block;
    margin: 0; }
    .book-list li > span {
      display: inline; }
    .book-list li:hover .detail-span, .book-list li.hover .detail-span {
      position: static;
      width: auto;
      box-shadow: none;
      padding: 10px; }
      .book-list li:hover .detail-span .detail-span-action a, .book-list li.hover .detail-span .detail-span-action a {
        width: 45%; }

  .page-bar a, .page-bar span, .page-bar em {
    display: none;
    width: auto;
    height: auto;
    background: #4ba2bd;
    color: white; }
  .page-bar .prev, .page-bar .next, .page-bar .button-primary {
    display: inline-block;
    height: auto;
    width: 75px; }
  .page-bar .button-primary {
    width: 35%; }

  .reading-page-md {
    padding: 10px;
    margin: -10px -10px 0; }

  .chapter_title {
    font-size: 18px; }

  .side-menu li.them-list.active ul {
    position: absolute;
    left: -270px;
    margin-top: -45px;
    width: 270px; }
    .side-menu li.them-list.active ul li {
      width: 45px;
      float: left; }

  .user-center {
    padding: 0; }

  .user-center-menu {
    display: none; }

  .page-title {
    margin-bottom: 10px; }

  .book-form .form {
    width: 100%; }
    .book-form .form .ipt-text, .book-form .form .ipt-text.ipt-block, .book-form .form button {
      width: 100%; }

  .theme-item {
    padding: 10px; }
    .theme-item p {
      margin-right: 0; }

  .book-list-block li {
    padding: 10px 0;
    margin-top: -1px; }

  .book-list li .control, .theme-item li .control {
    position: static;
    display: block;
    padding-top: 10px;
    width: auto; }
    .book-list li .control .button, .theme-item li .control .button {
      width: 35%;
      padding: .2em 1em; } }
