@charset "UTF-8";
/* CSS Document */
/*reset*/
html {
  -webkit-text-size-adjust: none; }

html, body, dl, dd, h1, h2, h3, h4, h5, h6, p, form {
  margin: 0; }

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

input, button, select, textarea {
  outline: none;
  padding: 0; }

textarea {
  resize: none; }

img {
  border: none; }

em, i, s {
  font-style: normal; }

a {
  text-decoration: none;
  color: #666; }
  a:hover {
    color: #048D9F; }

.l {
  float: left; }

.r {
  float: right; }

.hide {
  display: none; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

/* Hide from IE Mac */
.clearfix {
  display: block; }

/* End hide from IE Mac */
/* end of clearfix */
hr {
  border: none;
  border-bottom: 1px solid #cccccc; }

.btn, .button-green, .button-red, .button-orange, .button-light, .button-primary {
  display: inline-block;
  zoom: 1;
  line-height: 180%;
  vertical-align: middle;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  padding: .5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: 0 transparent;
  text-align: center;
  background: #E6E6E6;
  text-decoration: none;
  border-radius: 2px; }
  .btn:hover, .button-green:hover, .button-red:hover, .button-orange:hover, .button-light:hover, .button-primary:hover {
    color: #eee; }

.button-green, .button-red, .button-orange, .button-light, .button-primary {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
  .button-green:hover, .button-red:hover, .button-orange:hover, .button-light:hover, .button-primary:hover {
    color: #fff; }

.button-green {
  background: #1CB841 !important; }
  .button-green:hover {
    color: #e5e5e5;
    background: #1eca47; }

.button-red {
  background: #CA3C3C !important; }
  .button-red:hover {
    color: #e5e5e5;
    background: #de4242; }

.button-orange {
  background: #df7514 !important; }
  .button-orange:hover {
    color: #e5e5e5;
    background: #f58016; }

.button-light {
  background: #4EB1D1 !important; }
  .button-light:hover {
    color: #e5e5e5;
    background: #55c2e5; }

.button-primary {
  background: #4ba2bd !important; }
  .button-primary:hover {
    color: #e5e5e5;
    background: #52b2cf; }

.notice, .error {
  background: #f4f4f4;
  font-size: 18px;
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin: 0 0 10px;
  border-radius: 5px; }

.error {
  border-width: 0 0 0 4px;
  border-color: #CA3C3C;
  border-radius: 0; }

.button-disabled, .button-disabled:hover {
  border: 0;
  color: #444;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter: alpha(opacity=40);
  -khtml-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  cursor: not-allowed;
  box-shadow: none; }

.form fieldset {
  margin: 0;
  padding: .35em 0 .75em;
  border: 0; }
.form legend {
  border: 0;
  display: block;
  width: 100%;
  padding: .3em 0;
  margin-bottom: .3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5; }
.form label {
  display: block;
  margin: .75em 0; }
.form input[type=text], .form input[type=email], .form input[type=password], .form textarea, .form select {
  padding: .5em .6em;
  margin: 0 inherit;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px; }
  .form input[type=text]:focus, .form input[type=email]:focus, .form input[type=password]:focus, .form textarea:focus, .form select:focus {
    outline: 0;
    border-color: #4ba2bd; }
  .form input[type=text].error, .form input[type=email].error, .form input[type=password].error, .form textarea.error, .form select.error {
    border-color: #df7514;
    color: #CA3C3C; }

/*body*/
body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px;
  line-height: 180%; }

.remind {
  color: #ffaf1e;
  font-size: 18px;
  padding: 0 3px;
  display: inline-block;
  zoom: 1; }

/*header*/
.header {
  background: #048D9F;
  position: relative;
  z-index: 10; }
  .header .header-wrap {
    max-width: 1200px;
    margin: 0 auto;
    position: relative; }
  .header .nav-left {
    width: auto; }
    .header .nav-left ul {
      max-width: 1200px;
      margin: 0 auto;
      clear: both; }
    .header .nav-left li {
      display: inline-block;
      zoom: 1;
      vertical-align: middle; }
      .header .nav-left li.active > a {
        background: #f4f4f4;
        color: #333333; }
      .header .nav-left li ul {
        display: none;
        background: #f4f4f4;
        box-shadow: 0px 1px 1px #cccccc;
        position: absolute;
        z-index: 999;
        padding: 5px;
        box-sizing: border-box; }
        .header .nav-left li ul a {
          line-height: 280%;
          color: #333333; }
        .header .nav-left li ul a:hover {
          background: #eaeaea; }
        .header .nav-left li ul.nav-flow {
          left: 0;
          width: 100%; }
        .header .nav-left li ul.nav-line {
          width: 150px; }
          .header .nav-left li ul.nav-line li {
            display: block; }
    .header .nav-left a {
      color: #fff;
      line-height: 50px;
      display: block;
      padding: 5px 20px; }
      .header .nav-left a:hover, .header .nav-left a.hover {
        background: #2c9f9c; }
  .header .nav-right {
    padding: 0 20px;
    float: right; }
    .header .nav-right li {
      display: inline-block;
      zoom: 1;
      vertical-align: middle; }
    .header .nav-right a {
      padding: 5px 20px;
      color: #fff;
      line-height: 50px;
      display: block; }
    .header .nav-right .search-bar {
      position: relative;
      top: 15px; }
      .header .nav-right .search-bar .icon-search {
        display: none; }
      .header .nav-right .search-bar input {
        font-size: 12px; }
      .header .nav-right .search-bar button {
        line-height: 18px;
        vertical-align: top; }
      .header .nav-right .search-bar.hover .icon-search {
        background: #D5E1E4;
        position: relative;
        z-index: 88;
        box-shadow: 0  -1px 1px #333; }
    .header .nav-right .header-title {
      margin: 0 136px 0 40px;
      line-height: 60px;
      color: #fff;
      font-size: 15.4px;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 60px;
      white-space: nowrap; }
  .header .nav-icon, .header .header-title {
    display: none; }

.long .header-title {
  margin-right: 40px !important; }

/*content*/
.content {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }

.content-read {
  max-width: inherit; }
  .content-read > * {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto; }

.footer {
  border-top: 1px solid #cccccc;
  padding: 10px 0;
  color: #333333;
  line-height: 180%;
  text-align: center; }

.content-side, .content-main {
  float: left;
  padding: 20px 0; }

.content-side {
  width: 20%; }

.content-main {
  width: 80%; }

.main {
  padding: 20px 0; }

h1 {
  margin-bottom: .8em;
  color: #048D9F;
  font-size: 1.5em; }

h2 {
  color: #3d3d3d;
  font-size: 1.3em;
  margin-bottom: .8em; }

h3 {
  color: #3d3d3d;
  font-size: 1.2em;
  margin-bottom: .8em; }

.main-text {
  margin-bottom: 20px;
  color: #666;
  line-height: 180%; }
  .main-text h1 {
    margin-bottom: 15px; }
    .main-text h1 a {
      text-decoration: underline; }
  .main-text p {
    margin-bottom: 15px; }
  .main-text a {
    color: #048D9F; }

.list-container {
  margin: 0 0 20px; }
  .list-container h3 {
    color: #048D9F; }

.list-flow li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 240%; }

.index-list {
  margin: 0 0 20px; }
  .index-list h3 {
    color: #048D9F; }

.crumbs {
  padding: 10px 0;
  font-size: 12px; }

.list-flow {
  padding: 10px 0; }
  .list-flow li {
    padding: 0 10px; }

.list-column {
  padding: 10px 0;
  font-size: 0; }
  .list-column li {
    line-height: 240%;
    font-size: 14px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 25%;
    margin-right: 6%;
    padding: 0 1%; }
    .list-column li > span {
      float: right;
      color: #999999;
      display: none; }
    .list-column li.hover > span {
      display: inline;
      color: #333333; }
    .list-column li > a {
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      transition: all 0.4s linear; }
    .list-column li p span {
      float: none; }

.detail-span {
  background: #f4f4f4;
  width: 500px;
  z-index: 88;
  padding: 20px;
  line-height: 20px;
  position: absolute;
  top: 33px;
  left: 0;
  display: none; }
  .detail-span > p {
    max-height: 200px;
    overflow: auto; }
  .detail-span > strong {
    display: inline-block;
    padding-top: 10px; }

ul.details li {
  position: relative; }
  ul.details li.hover {
    background: #f4f4f4; }
    ul.details li.hover > a {
      color: #048D9F;
      font-weight: 700; }
    ul.details li.hover .detail-span {
      display: block; }
      ul.details li.hover .detail-span .detail-span-action {
        padding-top: 20px;
        text-align: left;
        padding-right: 60px;
        padding-left: 60px; }
        ul.details li.hover .detail-span .detail-span-action a {
          margin-right: 10px;
          width: 150px; }
          ul.details li.hover .detail-span .detail-span-action a:last-child {
            margin-right: 0; }

.page-bar {
  text-align: center;
  padding: 20px 0;
  clear: both; }
  .page-bar em, .page-bar a, .page-bar span {
    display: inline-block;
    zoom: 1; }
  .page-bar em {
    padding: 0 .8em; }
  .page-bar a, .page-bar span {
    margin: 0 5px;
    background-color: #E6E6E6;
    padding: .8em 1.4em;
    height: 1.1em;
    vertical-align: top;
    line-height: 1.1em; }
    .page-bar a:hover, .page-bar span:hover {
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
      background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.1));
      background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }
  .page-bar span {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
    cursor: default; }

.action {
  text-decoration: none;
  padding: 0.2em 0.5em;
  display: inline-block;
  zoom: 1;
  color: #048D9F;
  font-weight: normal;
  font-size: 16px;
  border: 1px solid #049bae; }
  .action:hover, .action:focus {
    color: #02626f;
    border-color: #02626f; }

.pagination {
  background: white;
  cursor: default; }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #048D9F;
    color: white;
    border: 1px solid #048D9F; }
  .pagination a {
    text-decoration: none;
    color: #048D9F;
    border: 1px solid #049bae; }
    .pagination a:hover, .pagination a:focus {
      color: #02626f;
      border-color: #02626f; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/*book-home*/
.book-box {
  margin-bottom: 20px; }
  .book-box h3 {
    background: #D5E1E4;
    padding: 5px; }

.book-box-m {
  padding: 10px 5px; }

.comment textarea {
  margin: .25em 0;
  display: block;
  width: 100%; }

.comment-list li {
  overflow: hidden;
  margin-bottom: 10px; }
  .comment-list li strong {
    float: left; }
  .comment-list li p {
    float: left;
    padding-left: 10px; }

/*reading*/
.reading-page-md {
  margin: 0 auto;
  padding: 50px;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei,"宋体","arial", "Microsoft YaHei";
  line-height: 1.5; }
  .reading-page-md p {
    margin-bottom: 1.5em; }
  .reading-page-md h2 {
    font-size: 2em;
    margin-bottom: .3em;
    font-family: '黑体'; }
  .reading-page-md h3 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-top: 2em;
    margin-bottom: .25em;
    font-family: '黑体'; }
  .reading-page-md h4 {
    font-size: 1em;
    line-height: 1.2;
    margin-top: 2em;
    margin-bottom: .1em;
    color: rgba(0, 0, 0, 0.44);
    font-family: '黑体'; }
  .reading-page-md ul {
    margin-top: .5em;
    margin-bottom: 2em;
    list-style-type: disc; }
  .reading-page-md li {
    margin-left: 1.5em;
    margin-bottom: 1em;
    padding-top: .1em; }
  .reading-page-md blockquote {
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: italic;
    border-left: 3px solid rgba(0, 0, 0, 0.8);
    padding-left: 20px;
    margin-left: -23px;
    padding-bottom: .1em; }

.chapter-title {
  font-weight: 700;
  font-family: '黑体';
  text-align: center;
  padding: 0 30px; }

.chapter-info {
  font-size: .6em;
  text-align: center;
  padding: 0 30px;
  margin-bottom: 2em; }

.side-menu {
  position: fixed;
  width: 45px !important;
  right: 0 !important;
  left: inherit !important;
  background: none;
  bottom: 2%; }
  .side-menu li {
    background: #c1c1c1;
    text-align: center;
    border-bottom: 1px solid #aaa;
    margin-top: 5px; }
    .side-menu li a {
      padding: 10px 0;
      display: block;
      line-height: 25px; }
      .side-menu li a:hover {
        background: #cecece; }
  .side-menu li.theme-list ul {
    -webkit-transition: height 0.3s linear;
    -moz-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
    -ms-transition: height 0.3s linear;
    transition: height 0.3s linear;
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    -ms-transition: left 0.3s linear;
    transition: left 0.3s linear;
    height: 0;
    overflow: hidden;
    width: 45px;
    left: 0; }
    .side-menu li.theme-list ul li {
      line-height: 45px;
      cursor: pointer;
      margin-top: 0; }
      .side-menu li.theme-list ul li span.selected {
        display: block;
        line-height: 43px;
        border: 1px solid #df7514;
        box-sizing: border-box; }
  .side-menu li.theme-list.active ul {
    height: inherit; }

/*login register*/
.content .form button {
  font-size: 16px;
  padding: .5em 3em; }
.content .form p {
  padding: 8px 0; }
.content .form a {
  color: #048D9F; }

.form-model {
  width: 450px;
  margin: 0 auto;
  padding: 0 0 20px 0;
  clear: both;
  font-size: 16px; }
  .form-model.form-model-wide {
    width: 600px; }
  .form-model h2 {
    font-size: 36px;
    font-weight: normal;
    color: #261d0d;
    text-align: center;
    padding: 0 30px;
    margin-bottom: 50px; }
  .form-model .input-text {
    line-height: 200%;
    display: block;
    width: 100%; }

.form-action {
  padding-top: 10px; }
  .form-action a {
    line-height: 38px; }
  .form-action .form-action-r {
    text-align: right; }
  .form-action label.form-checkbox {
    display: inline-block !important; }

/*user center*/
.user-center {
  padding: 20px 0;
  padding-left: 220px; }

.user-center-menu {
  float: left;
  width: 200px;
  margin-left: -220px;
  position: fixed;
  border: 1px solid #b7b7b7; }
  .user-center-menu h3, .user-center-menu a {
    display: block;
    color: inherit;
    line-height: 1.5em;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap; }
  .user-center-menu h3 {
    color: #565d64;
    text-transform: uppercase;
    font-size: 90%;
    margin-top: .5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dfdfdf; }
  .user-center-menu li.active a {
    background: #eee;
    color: #048D9F; }
  .user-center-menu a {
    color: #777; }
    .user-center-menu a:hover {
      background: #eee;
      color: #048D9F; }

.page-title {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 30px;
  overflow: hidden;
  width: 100%; }
  .page-title h3 {
    font-size: 18px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    float: left;
    line-height: 34px; }

.book-list-block, .search-list {
  overflow: hidden; }
  .book-list-block li, .search-list li {
    display: block;
    padding: 10px 100px 10px 20px;
    width: inherit;
    border-top: 1px solid #ccc;
    position: relative;
    margin-top: -1px; }
    .book-list-block li h4, .search-list li h4 {
      font-size: 16px; }
      .book-list-block li h4 a, .search-list li h4 a {
        color: #333; }
    .book-list-block li p, .search-list li p {
      /*max-height: 96px;overflow: auto;*/
      line-height: 24px;
      color: #666; }
      .book-list-block li p strong, .search-list li p strong {
        color: #333333; }
      .book-list-block li p span, .search-list li p span {
        color: #f60; }
    .book-list-block li .control, .search-list li .control {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 100px;
      text-align: right; }
      .book-list-block li .control a, .search-list li .control a {
        margin-bottom: 10px; }
        .book-list-block li .control a:hover, .search-list li .control a:hover {
          color: #fefefe; }
    .book-list-block li:hover, .search-list li:hover {
      background: #F7F8F8; }
      .book-list-block li:hover .control, .search-list li:hover .control {
        display: block; }

.book-form {
  overflow: hidden; }
  .book-form p a {
    color: #048D9F; }
  .book-form .form:first-child {
    margin-right: 4%; }
  .book-form .form .input-text {
    display: block;
    width: 45%;
    margin: .25em 0; }
    .book-form .form .input-text.input-block {
      width: 90%; }
  .book-form .form-l, .book-form .form-r {
    width: 45%;
    float: left; }
    .book-form .form-l .input-text, .book-form .form-r .input-text {
      width: 90%; }

/*book theme*/
.theme-item {
  padding: 20px;
  position: relative;
  border: 1px solid #ccc;
  margin-top: -1px;
  cursor: pointer; }
  .theme-item p {
    margin-right: 50px; }
    .theme-item p strong {
      display: block;
      margin-bottom: 10px; }
  .theme-item .control {
    position: absolute;
    right: 20px;
    top: 10px; }
  .theme-item span {
    display: none; }

.theme-selected span {
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
  color: #ffa800;
  font-size: 16px; }

/*theme setting*/
.theme-lite-small {
  font-size: 14px !important;
  background: #fff !important;
  color: #333 !important; }

.theme-dark-small {
  font-size: 14px !important;
  background: #333 !important;
  color: #fff !important; }
  .theme-dark-small * {
    color: #fff; }

.theme-lite-medium {
  font-size: 16px !important;
  background: #fff !important;
  color: #333 !important; }

.theme-dark-medium {
  font-size: 16px !important;
  background: #333 !important;
  color: #fff !important; }
  .theme-dark-medium * {
    color: #fff; }

.theme-lite-large {
  font-size: 20px !important;
  background: #fff !important;
  color: #333 !important; }

.theme-dark-large {
  font-size: 20px !important;
  background: #333 !important;
  color: #fff !important; }
  .theme-dark-large * {
    color: #fff; }

/*for search*/
.search-list {
  margin-bottom: 15px; }
  .search-list li {
    padding-right: 0;
    width: 100%; }
    .search-list li h4 a {
      color: #048D9F; }
    .search-list li em {
      background: #4ba2bd;
      color: #fff; }

/*icons*/
.menu-link {
  height: 22px;
  margin-top: 12px; }
  .menu-link span {
    position: relative;
    display: block;
    margin-top: 0.9em;
    background-color: #fff;
    cursor: pointer;
    width: 16px;
    height: 2px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear; }
    .menu-link span:before, .menu-link span:after {
      background-color: #fff;
      width: 100%;
      height: 2px;
      -webkit-transition: all 0.4s linear;
      -moz-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      transition: all 0.4s linear;
      position: absolute;
      top: -.55em;
      content: " "; }
    .menu-link span:after {
      top: .55em; }

.icon-prev {
  overflow: hidden;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .icon-prev:before {
    content: '';
    height: 13px;
    width: 13px;
    display: block;
    border: 3px solid #fff;
    border-right-width: 0;
    border-bottom-width: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    position: absolute;
    top: 0;
    left: 3px; }

.icon-next {
  overflow: hidden;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .icon-next:before {
    content: '';
    height: 13px;
    width: 13px;
    display: block;
    border: 3px solid #fff;
    border-left-width: 0;
    border-top-width: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    position: absolute;
    top: 0;
    right: 3px; }

.icon-search {
  height: 33px;
  width: 40px;
  padding: 0 !important;
  overflow: hidden; }
  .icon-search span {
    position: relative;
    top: 5px;
    display: block;
    left: 10px; }
    .icon-search span:before, .icon-search span:after {
      content: '';
      height: 10px;
      display: block;
      position: absolute;
      top: 0;
      left: 0; }
    .icon-search span:before {
      width: 10px;
      border: 3px #333 solid;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%; }
    .icon-search span:after {
      width: 4px;
      background: #333;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      top: 12px;
      left: 14px; }

@media (max-width: 815px) {
  /*header*/
  .header .nav-left {
    padding: 0;
    display: none;
    background: #037e8f;
    width: 100%; }
    .header .nav-left a {
      padding: 5px 10px; }
    .header .nav-left li ul.nav-line {
      width: 100%;
      left: 0; }
  .header .nav-right {
    float: none;
    padding: 0 5px 0 0; }
    .header .nav-right a {
      padding: 5px 10px; }
  .header .nav-icon, .header .header-title {
    display: block; } }
/*for mobile*/
@media (max-width: 35.5em) {
  .pagination, .hide-mobile {
    display: none !important; }

  /*mobile button*/
  .button-green, .button-light, .button-orange, .button-primary, .button-red {
    width: 100%;
    box-sizing: border-box;
    line-height: 32px;
    font-weight: 700;
    font-size: 16px; }

  input, select, textarea {
    font-size: 16px;
    padding-top: 0.4em !important;
    padding-bottom: 0.4em !important; }

  /*header*/
  .header .search-bar .icon-search {
    display: block !important; }
  .header .search-bar .form {
    position: absolute;
    display: none;
    right: 0;
    width: 240px;
    background: #D5E1E4;
    padding: 5px;
    box-shadow: 0 0 3px #333;
    top: 33px; }
  .header .search-bar.hover .form {
    display: block; }
  .header .search-bar.hover .icon-search span:before {
    border-color: #333; }
  .header .search-bar.hover .icon-search span:after {
    background: #333; }
  .header .nav-left li ul a {
    padding: 5px 9px; }

  .icon-search span:before {
    border-color: #fff; }
  .icon-search span:after {
    background: #fff; }

  .search-bar input {
    display: inline-block !important;
    width: 180px;
    vertical-align: middle;
    font-size: 16px !important; }
  .search-bar button {
    width: auto;
    margin: 0 !important;
    padding: 0 1em;
    min-height: 32px;
    font-size: 14px; }

  /*content*/
  .content {
    margin: 0 10px;
    padding: 10px 0; }
    .content .content-side {
      display: none; }
    .content .content-main {
      float: none;
      width: 100%;
      padding-top: 0; }
    .content .main {
      padding-top: 0; }
    .content form legend {
      font-size: 18px; }
    .content form label {
      font-size: 16px; }
    .content form button {
      font-size: 22px !important; }
    .content form button[type=submit] {
      margin: .7em 0 0; }

  /*lists*/
  .last-review, .hot, .book-show {
    margin: 0 0 10px;
    padding: 0; }

  .list-flow li {
    padding: 0 5px; }

  .crumbs {
    display: none; }

  .list-column li {
    width: auto;
    display: block;
    margin: 0; }
    .list-column li > span {
      display: inline; }

  ul.details li.hover .detail-span {
    position: static;
    width: auto;
    box-shadow: none;
    padding: 10px; }
    ul.details li.hover .detail-span .detail-span-action {
      padding-right: 0;
      padding-left: 0; }
      ul.details li.hover .detail-span .detail-span-action a {
        width: 48%; }

  .page-bar a, .page-bar span, .page-bar em {
    display: none;
    width: auto;
    height: auto;
    background: #4ba2bd;
    color: #fff; }
  .page-bar .prev, .page-bar .next, .page-bar .button-primary {
    display: inline-block;
    height: auto;
    width: 75px; }
  .page-bar .button-primary {
    width: 35%; }

  /*login register form*/
  .form-model {
    width: 100%;
    padding: 0 0 20px 0; }
    .form-model h2 {
      margin: 0 0 10px 0; }
    .form-model .form-action-r {
      text-align: left;
      float: none;
      clear: both; }
    .form-model .form-action-r button {
      width: 100%; }

  /*reading*/
  .content-read {
    margin: 0; }

  .reading-page {
    overflow: hidden; }

  .reading-page-md {
    padding: 10px 5px;
    position: relative;
    right: -3px; }
    .reading-page-md h2 {
      font-size: 1em; }

  .chapter-title {
    font-size: .9em;
    padding: 0 10px; }

  .chapter-info {
    padding: 0 10px; }

  .side-menu {
    bottom: 40px; }
    .side-menu li.theme-list.active ul {
      position: absolute;
      left: -270px;
      margin-top: -45px;
      width: 270px; }
      .side-menu li.theme-list.active ul li {
        width: 45px;
        float: left; }

  /*user center*/
  .user-center {
    padding: 0; }

  .user-center-menu {
    display: none; }

  .page-title {
    margin-bottom: 10px; }

  .book-form .form {
    width: 100%; }
    .book-form .form .input-text, .book-form .form .input-text.input-block, .book-form .form button, .book-form .form select {
      width: 100%;
      line-height: 200%; }

  .book-list-block li, .search-list li {
    padding: 10px 0;
    margin-top: -1px; }

  .book-list li .control, .theme-item li .control {
    position: static;
    display: block;
    padding-top: 10px;
    width: auto; }
    .book-list li .control .button, .theme-item li .control .button {
      width: 35%;
      padding: .2em 1em; }

  .theme-item {
    padding: 10px; }
    .theme-item p {
      margin-right: 0; } }
/*pure*/
.pure-g {
  letter-spacing: -.31em;
  *letter-spacing: normal;
  *word-spacing: -.43em;
  text-rendering: optimizespeed;
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap; }

.opera-only :-o-prefocus, .pure-g {
  word-spacing: -.43em; }

.pure-u {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.pure-g [class*="pure-u"] {
  font-family: sans-serif; }

.pure-u-1, .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-5-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-2-24, .pure-u-3-24, .pure-u-4-24, .pure-u-5-24, .pure-u-6-24, .pure-u-7-24, .pure-u-8-24, .pure-u-9-24, .pure-u-10-24, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.pure-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%; }

.pure-u-1-12, .pure-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%; }

.pure-u-1-8, .pure-u-3-24 {
  width: 12.5%;
  *width: 12.469%; }

.pure-u-1-6, .pure-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%; }

.pure-u-1-5 {
  width: 20%;
  *width: 19.969%; }

.pure-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%; }

.pure-u-1-4, .pure-u-6-24 {
  width: 25%;
  *width: 24.969%; }

.pure-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%; }

.pure-u-1-3, .pure-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%; }

.pure-u-3-8, .pure-u-9-24 {
  width: 37.5%;
  *width: 37.469%; }

.pure-u-2-5 {
  width: 40%;
  *width: 39.969%; }

.pure-u-5-12, .pure-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%; }

.pure-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%; }

.pure-u-1-2, .pure-u-12-24 {
  width: 50%;
  *width: 49.969%; }

.pure-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%; }

.pure-u-7-12, .pure-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%; }

.pure-u-3-5 {
  width: 60%;
  *width: 59.969%; }

.pure-u-5-8, .pure-u-15-24 {
  width: 62.5%;
  *width: 62.469%; }

.pure-u-2-3, .pure-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%; }

.pure-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%; }

.pure-u-3-4, .pure-u-18-24 {
  width: 75%;
  *width: 74.969%; }

.pure-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%; }

.pure-u-4-5 {
  width: 80%;
  *width: 79.969%; }

.pure-u-5-6, .pure-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%; }

.pure-u-7-8, .pure-u-21-24 {
  width: 87.5%;
  *width: 87.469%; }

.pure-u-11-12, .pure-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%; }

.pure-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%; }

.pure-u-1, .pure-u-1-1, .pure-u-5-5, .pure-u-24-24 {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
