@charset "utf-8";
/* CSS Document */
$font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
$font-size: 14px;

$max-width:1200px;
$main-color:#048D9F;
$main-text-color:#fff;
$main-text-color-hover:#666;

$them-color-dark:#333;
$them-color-light:#fff;
$s-t-size:12px;
$m-t-size:14px;
$l-t-size:16px;

$color-primary:#4ba2bd; //default color
$color-orange:#df7514;
$color-green:#1CB841;
$color-red:#CA3C3C;
$color-light:#4EB1D1;


@mixin transition($property, $duration, $timing){
  -webkit-transition: $property $duration $timing;
  -moz-transition: $property $duration $timing;
  -o-transition: $property $duration $timing;
  -ms-transition: $property $duration $timing;
  transition: $property $duration $timing;
}

@mixin link($normal:#666,$hover:#eee){
  color: $normal;
  &:hover{
    color: $hover;
  }
}

@mixin hover-bg($color:#666,$bg:#eee){
  &:hover{
    color: $color;
    background: $bg;
  }
}

/*reset*/
html{-webkit-text-size-adjust: none;}
html,body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}
ol,ul,li{margin:0; padding:0;list-style:none;}
input,button,select,textarea{outline:none; padding:0;}
textarea{resize:none}
img { border:none; }
em,i,s{ font-style:normal;}
a {text-decoration:none; @include link($hover:$main-color);}
.l { float:left; }
.r { float:right; }
.hide{ display:none;}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
/* Hide from IE Mac */
.clearfix { display:block; }
/* End hide from IE Mac */
/* end of clearfix */
hr{border: none; border-bottom: 1px solid $main-text-color-hover*2;}
.btn{
  display: inline-block;zoom:1;line-height: 180%;vertical-align: middle;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  padding: .5em 1em;
  @include link($normal:rgba(0,0,0,.8));
  border: 0 rgba(0,0,0,0);
  text-align: center;
  background: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}
.button-green,.button-red,.button-orange,.button-light,.button-primary{
  @extend .btn;
  color: $main-text-color;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  &:hover{color: $main-text-color;}
}
.button-green{
  background: $color-green!important;;
  @include hover-bg($color:$main-text-color*.9,$bg:$color-green*1.1);
}
.button-red{
  background: $color-red!important;;
  @include hover-bg($color:$main-text-color*.9,$bg:$color-red*1.1);
}
.button-orange{
  background: $color-orange!important;;
  @include hover-bg($color:$main-text-color*.9,$bg:$color-orange*1.1);
}
.button-light{
  background: $color-light!important;;
  @include hover-bg($color:$main-text-color*.9,$bg:$color-light*1.1);
}
.button-primary{
  background: $color-primary!important;
  @include hover-bg($color:$main-text-color*.9,$bg:$color-primary*1.1);
}

.notice{
  color:$color-primary;
  background:$main-text-color-hover*2.4;
  border: 1px solid $main-text-color-hover*2.2;padding: 15px;margin: 0 0 10px;
  border-radius: 5px;
}
.error{color:$color-red; @extend .notice;}

.button-disabled,.button-disabled:hover{
  border: 0;
  color: #444;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter: alpha(opacity=40);
  -khtml-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  cursor: not-allowed;
  box-shadow: none;
}

.form{
  fieldset {
    margin: 0;
    padding: .35em 0 .75em;
    border: 0;
  }
  legend {
    border: 0;
    display: block;
    width: 100%;
    padding: .3em 0;
    margin-bottom: .3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
  }
  label{ display: block;margin: .75em 0;}
  input[type=text],input[type=password],textarea,select {
    padding: .5em .6em;
    margin:0 inherit;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:focus{
      outline: 0;
      border-color: $color-primary;
    }
    &.error{
      border-color: $color-orange;
      color: $color-red;
    }
  }
}
/*body*/
body{font-family:$font-family; font-size:$font-size;}
.remind{ color: $color-orange*1.5; font-size: 18px;padding: 0 3px; display: inline-block;zoom:1;}
/*header*/
.header{
  background: $main-color;
  .header-wrap{max-width:$max-width;margin: 0 auto;position: relative;}
  .nav-left{
    width: auto;
    ul{max-width:$max-width;margin: 0 auto; clear: both;}
    li{
      display: inline-block;zoom: 1;vertical-align: middle;
      &.active{&>a{background:$main-text-color-hover*2.4;color: $main-text-color-hover*.5; }}
      ul{
        display: none;
        background:$main-text-color-hover*2.4;box-shadow: 0px 1px 1px $main-text-color-hover*2;
        position: absolute;  z-index: 999; padding: 5px;
        a{line-height: 280%; color: $main-text-color-hover*.5;}
        a:hover{background:$main-text-color-hover*2.3; }
        &.nav-flow{left: 0; width: 100%;}
        &.nav-line{
          width: 150px;
          li{ display: block;}
        }
      }
    }
    a{
      color: $main-text-color; line-height: 50px; display: block;padding: 5px 20px;
      &:hover,&.hover{background: #2c9f9c; }
    }
  }
  .nav-right{
    padding:0 20px;
    float: right;
    li{display: inline-block;zoom: 1;vertical-align: middle;}
    a{padding: 5px 20px; color: $main-text-color;line-height: 50px; display: block;}

    .search-bar{
      position: relative;top:12px;
      .icon-search{ display: none;}
      button{line-height:18px;}
      &.hover .icon-search{background: #D5E1E4;position: relative;z-index: 88;box-shadow:0  -1px 1px #333;}
    }
    .header-title{margin: 0 136px 0 40px; line-height: 60px; color:$main-text-color; font-size: $font-size*1.1; overflow: hidden;text-overflow: ellipsis;height: 60px;white-space:nowrap;}
  }
  .nav-icon,.header-title{ display: none;}
}
/*content*/
.content{ padding:0 20px;max-width: $max-width; margin: 0 auto; box-sizing: border-box;}
.footer{border-top:1px solid $main-text-color-hover*2;padding: 10px 0; color: $main-text-color-hover*.5; line-height: 180%;}
.content-side,.content-main{ float: left;padding: 20px 0;}
.content-side{width:20%;}
.content-main{width:80%;}
.main{padding: 20px 0;}
.main-text{
  margin-bottom: 20px; color:$main-text-color-hover; line-height: 180%;
  h1,h2{ margin-bottom: 15px;color: $main-color;}
  p{margin-bottom: 15px;}
  a{color: $main-color;}
}
.index-list{
  margin:0 0 20px;
  h3{color: $main-color;}
  li{ display: inline-block;*display: inline;zoom:1;line-height: 240%;}
}
.last-review li{margin-right: 20px;}
.hot li{margin-right: 20px;}
.book-category ul{
  font-size: 0;
  li{width:30%; font-size:$font-size;}
}
.crumbs{padding: 10px 0;}
.book-list{
  ul{padding:10px 0 50px; font-size: 0;}
  li{
    line-height: 240%; font-size:$font-size;  display: inline-block;*display: inline;zoom:1; width: 25%; margin-right:6%;position: relative; padding: 0 1%;
    &>span{ float: right; color:$main-text-color-hover*1.5;display: none;}
    &>a{@include transition(all,0.4s,linear);}
    p span{ float: none;}
    .detail-span{
      &>p{ max-height: 200px;overflow: auto;}
      position: absolute; top:33px; left:0;  display: none; opacity: 0;
      &>strong{ display: block; padding-top: 10px;}
    }
    &.hover{
      background:$main-text-color-hover*2.4;
      &>a{color: $main-color; font-weight: 700;}
      .detail-span{
        display: block; background:$main-text-color-hover*2.4; width: 500px; z-index: 88; padding: 20px; line-height: 20px;opacity: 1;
        .detail-span-action{
          padding-top: 20px;
          a{ margin-right: 10px;width: 30%;}
        }
      }
    }
    &.side .detail-span{
      left:inherit;
      right:0;
      .detail-span-action{
        text-align: right;
        a{ margin:0 0 0 10px;width: 30%;}
      }
    }
  }
}
.page-bar{
  text-align: center; padding: 20px 0; clear: both;
  em,a,span{display: inline-block; zoom:1;}
  em{padding: 0 .8em;}
  a,span{
    margin:0 5px;background-color: #E6E6E6;padding: .8em 1.4em;height: 1.1em;vertical-align: top;line-height: 1.1em;
    &:hover{
      background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
      background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
      background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
      background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
      background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    }
  }
  span{box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;cursor: default;}
}

/*book-home*/
.book-home{}
.book-box{
  margin-bottom: 20px;
  h3{ background: #D5E1E4;padding: 5px;}
}
.book-box-m{padding: 10px 5px;}
.comment{
  textarea{ margin: .25em 0; display: block; width: 100%;}
}
.comment-list li{
  overflow: hidden; margin-bottom: 10px;
  strong{ float: left; }
  p{ float: left;padding-left: 10px;}
}

/*reading*/
.reading-page{}
.reading-page-md{margin: 0 auto; padding: 50px;font-family: "Helvetica Neue", Helvetica, Microsoft Yahei,"宋体","arial", "Microsoft YaHei"; color: #333; font-size: 16px; line-height: 180%;}
.chapter-title{font-size: 36px;font-weight: 700;margin-bottom: 10px;font-family: '黑体';text-align: center;padding: 0 30px;}
.chapter-info {font-size: 12px;text-align: center;padding: 0 30px;}
.side-menu{
  position: fixed;
  width: 45px!important; right: 0!important;left: inherit!important;background: none; bottom: 2%;
  li{
    background: #c1c1c1;text-align: center; border-bottom: 1px solid #aaa;
    a{
      padding:10px 0;display: block;line-height: 25px;
      &:hover{background: #eee;}
    }
  }
  li.back-top{margin-top: 5px;}
  li.them-list{
    a{}
    ul{
      @include transition(height,0.3s,linear);
      @include transition(left,0.3s,linear);
      height: 0;overflow: hidden; width:45px; left: 0;
      li{line-height: 45px;cursor: pointer;}
    }
    &.active{
      ul{height: inherit;}
    }
  }
}

/*login register*/
.content .form{
  button{ font-size: 16px; padding: .5em 3em;}
  p{padding: 8px 0;}
  a{color: $main-color;}
}
.form-model{
  width: 450px;margin: 0 auto;padding:0 0 20px 0; clear: both;
  &.form-model-wide{width: 600px;}
  h2{font-size: 36px;font-weight:normal;color: #261d0d;text-align: center;padding: 0 30px;margin-bottom: 50px;}
  .ipt-text{line-height: 200%; display: block; width: 100%;}
}
.form-action{
  padding-top: 10px;
  a{line-height: 38px;}
  .form-action-r{ text-align: right;}
  label.form-checkbox{ display: inline-block!important;}
}

/*user center*/
.user-center{padding: 20px 0; padding-left: 220px;}
.user-center-menu{
  float: left; width:200px; margin-left: -220px; position: fixed;
  border: 1px solid #b7b7b7;
  h3,a{
    display: block;
    color: inherit;
    line-height: 1.5em;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap;
  }
  h3{color: #565d64;
    text-transform: uppercase;
    font-size: 90%;
    margin-top: .5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dfdfdf;}
  li.active a{background: #eee;color: $main-color;}
  a{
    color: #777;
    &:hover{
      background: #eee;
      color: $main-color;
    }
  }
}
.user-center-main{}
.page-title{
  border-bottom: 1px solid #ccc;padding: 10px 0;margin-bottom: 30px;overflow: hidden; width: 100%;
  h3{font-size: 18px; font-weight: normal; font-family:$font-family; float: left; line-height: 34px;}
  div.r{}
}
.book-list-block{
  overflow: hidden;
  li{
    display: block;padding: 10px 100px 10px 20px;width: inherit; border-top: 1px solid #ccc;position: relative;margin-top: -1px;
    h4{
      font-size: 16px;
      a{color: #333;}
    }
    p{
      /*max-height: 96px;overflow: auto;*/line-height: 24px;color: $main-text-color-hover;
      strong{color: $main-text-color-hover*.5;}
      span{color: #f60;}
    }
    .control{
      position: absolute; top:10px; right: 20px;width: 100px; text-align: right;
      a{
        margin-bottom: 10px;
        &:hover{color: #fefefe;}
      }
    }
    &:hover{
      background: #F7F8F8;
      .control{ display: block;}
    }
  }

}
.book-form{
  overflow: hidden;
  p a{color: $main-color;}
  .form{
    &:first-child{margin-right: 4%;}
    .ipt-text{
      display: block; width: 45%;margin: .25em 0;
      &.ipt-block{width: 90%;}
    }
  }
  .form-l,.form-r{
    width: 45%; float: left;
    .ipt-text{width: 90%;}
  }
}
/*book theme*/
.book-theme{}
.theme-item{
  padding: 20px;position: relative; border: 1px solid #ccc; margin-top: -1px;cursor: pointer;
  p{
    margin-right: 50px;
    strong {
      display: block;
      margin-bottom: 10px;
    }
  }
  .control{position: absolute; right: 20px; top:10px;}
  span{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #ffa800;
    font-size: 16px;
  }

}
/*theme setting*/
.theme-1{ font-size: $s-t-size!important;background: $them-color-light!important;;color: $them-color-dark!important;}
.theme-2{ font-size: $s-t-size!important; background: $them-color-dark!important;;color: $them-color-light!important;}
.theme-3{ font-size: $m-t-size!important;background: $them-color-light!important;;color: $them-color-dark!important;}
.theme-4{ font-size: $m-t-size!important; background: $them-color-dark!important;;color: $them-color-light!important;}
.theme-5{ font-size: $l-t-size!important;background: $them-color-light!important;;color: $them-color-dark!important;}
.theme-6{ font-size: $l-t-size!important; background: $them-color-dark!important;;color: $them-color-light!important;}

/*for search*/
.search-list{
  margin-bottom: 15px;
  ul li{
    padding-right: 0;width: 100%;
    h4 a{color: $main-color;}
    em{background: $color-primary; color: $main-text-color;}
  }
}
/*icons*/
.menu-link{
  height: 22px; margin-top: 12px;

  span{
    position: relative;display: block; margin-top: 0.9em;background-color: $main-text-color; cursor: pointer;width: 16px;height: 2px;
    @include transition(all,0.4s,linear);
    &:before,&:after{
      background-color: $main-text-color;width: 100%;height: 2px;
      @include transition(all,0.4s,linear);
      position: absolute; top: -.55em;content: " ";
    }
    &:after {top: .55em;}
  }
}
.icon-prev{
  position: relative;display: inline-block;zoom:1;
  span{
    overflow:hidden; width:25px; display: inline-block;
    &:before{content:''; height:14px; width:14px; display:block; border:3px solid $main-text-color; border-right-width:0; border-bottom-width:0; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); position:absolute; top: 7px;}
  }
}
.icon-search{
  height: 33px; width: 40px;padding: 0!important;
  span{
    position: relative;
    top: 5px;
    display: block;
    left: 10px;
    &:before,&:after{content:''; height:10px; display:block; position:absolute; top:0; left:0; }
    &:before{width:10px; border:3px #333 solid; border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;}
    &:after{width:4px; background:#333; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); top:12px; left:14px;}
  }
}
@media (max-width: 815px){
  /*header*/
  .header{
    .nav-left{
      padding: 0; display: none;background:$main-color*0.9; width: 100%;
      a{padding: 5px 10px;}
      li{
        ul{
          &.nav-line{
            width: 100%;left: 0;
          }
        }
      }
    }
    .nav-right{
      float: none;padding:0 5px 0 0;
      a{padding: 5px 10px;}
    }
    .nav-icon,.header-title{ display: block;}
  }

}
/*for mobile*/
@media (max-width: 35.5em) {
  /*mobile button*/
  .button-green,.button-light,.button-orange,.button-primary,.button-red{width: 100%;box-sizing: border-box; line-height: 32px; font-weight: 700;}
  input,select,textarea{ font-size: 16px; padding-top: .4em!important;padding-bottom: .4em!important;}
  /*header*/
  .header{
    .search-bar{
      .icon-search{ display: block!important; margin-top: 3px;}
      .form{
        position: absolute;
        display: none;
        right: 0;
        width: 240px;
        background: #D5E1E4;
        padding: 5px;
        box-shadow: 0 0 3px #333;
        top: 33px;
      }
      &.hover .form{ display: block;}
      &.hover .icon-search span:before{ border-color: #333;}
      &.hover .icon-search span:after{ background: #333;}
    }
  }
  .icon-search span{
    &:before{border-color: $main-text-color;}
    &:after{ background: $main-text-color;}
  }
  .search-bar {
    input{display: inline-block!important;width: 180px;vertical-align: middle;}
    button{width: auto;margin: 0!important;;padding: 0 1em;min-height: 32px;}
  }

  /*content*/
  .content{
    margin: 0 10px; padding: 10px 0;
    .content-side{ display: none;}
    .content-main{float: none;width: 100%; padding-top: 0;}
    .main{padding-top: 0;}
    form{
      .button{font-size: 22px!important;}
      button[type=submit] {
        margin: .7em 0 0;
      }
    }
  }
  /*lists*/
  .index-list{margin:0 0 10px; padding: 0;}
  .last-review li,.hot li{ margin-right: 10px;}
  .book-category{
   ul li{ width:25%;}
  }
  .crumbs{ display: none;}
  .book-list li{
    width:auto; display: block; margin: 0;
    &>span{ display: inline;}
    &:hover .detail-span,&.hover .detail-span{
      position: static; width: auto; box-shadow: none; padding: 10px;
      .detail-span-action a{ width: 45%;}
    }
  }
  .page-bar{
    a,span,em { display: none; width: auto; height: auto;background: #4ba2bd; color: $main-text-color;}
    .prev,.next,.button-primary { display: inline-block;height: auto;width: 75px;}
    .button-primary{ width: 35%;}
  }

  /*login register form*/
  .form-model{
    width: 100%;padding:0 0 20px 0;
    h2{ margin: 0 0 10px 0;}
    .form-action-r{text-align: left; float: none; clear: both;}
    .form-action-r button{width: 100%;}
  }
  /*reading*/
  .reading-page-md{padding: 10px;margin:-10px -10px 0;}
  .chapter-title{ font-size: 18px;}
  .side-menu{
    li.them-list.active{
      ul{
        position: absolute;left:-270px;margin-top: -45px; width:270px;
        li{ width: 45px;float: left;}
      }
    }
  }
  /*user center*/
  .user-center{ padding: 0;}
  .user-center-menu{ display: none;}
  .page-title{ margin-bottom:10px;}
  .book-form{
    .form{
      width: 100%;
      .ipt-text,.ipt-text.ipt-block,button{ width: 100%;}
    }

  }
  .book-list-block li {
    padding: 10px 0;margin-top: -1px;
  }
  .book-list,.theme-item{
    li .control{
      position: static; display: block; padding-top: 10px; width: auto;
      .button{ width: 35%;padding: .2em 1em;}
    }
  }
  .theme-item{
    padding: 10px;
    p{margin-right: 0;}
  }

}

