= my_form_for :user  do |f|
  %div{:class => "notice"}
    To reset your password, please enter your registered account email address.
    We will send you an email to let you reset your password.
  = f.text_field :email, "email"
  %div{:class => "form-action clearfix"}
    = f.submit "request password reset"
