= my_form_for :user  do |f|
  %div{:class => "notice"}
    重设登录密码，请先填入您的注册邮箱地址，然后点击以下按钮。 我们会发送重设密码的邮件到您的注册邮箱，请按指示完成密码重设。
  = f.text_field :email, "注册邮箱地址"
  %div{:class => "form-action clearfix"}
    = f.submit "重设密码"
