%li
  %span
    尤四姐
  %a{:href => read_book_path(author: book.author, title: book.title)}
    :plain
      #{book.title}
  %div{:class => "detail-span"}
    #{book.summary_html}
    %div{:class => "detail-span-action"}
      %a{:class => "btn btn-warning", :href => read_book_path(author: book.author, title: book.title)}
        购买
      %a{:class => "btn btn-primary", :href => read_book_path(author: book.author, title: book.title)}
        阅读
