%div{:class => "side-menu"}
  %ul
    %li{:class => "theme-list"}
      %a{:href => "javascript:;"}
        皮肤
      %ul
        %li{:class => "theme-lite-small"}
          %span
            小
        %li{:class => "theme-dark-small"}
          %span
            小
        %li{:class => "theme-lite-medium"}
          %span
            中
        %li{:class => "theme-dark-medium"}
          %span
            中
        %li{:class => "theme-lite-large"}
          %span
            大
        %li{:class => "theme-dark-large"}
          %span
            大
    %li{:class => "back-top"}
      %a{:href => "#"}
        顶部
        
