%div{:class => "reading-page"}
  %div{:class => "reading-page-md"}
    %h2{:class => "chapter-title"}
      = @chapter_title.html_safe
    = @content.html_safe

%div{:class => "page-bar"}
  - if @page > 1  
    %a{:class => "button-primary", :href => read_book_path(author: @book.author, title: @book.title, page: (@page - 1)), :rel => "nofollow"}
      « 前一页
  - if @page < @book.chunks
    %a{:class => "button-primary", :href => read_book_path(author: @book.author, title: @book.title, page: (@page + 1)), :rel => "nofollow"}
      下一页 »

- content_for :side_menu do
  = render 'side_menu_reading'
