%h2
  Your current email is #{current_user.email}.  This is your login id.  You may change this to another address.
%p
  Please enter your new email address and your password.  We will send an email to your new address to verify.  Your email will change only after you verify.  After the change, you will use the new address to login.
