%div{:class => "main-text hide-mobile"}
  %h1
    请查收验证邮件

- if current_user.email_verified_at
  %p
    您的邮箱 <strong>#{current_user.email}</strong> 已经完成验证，无需再做任何动作。
- else
  %p
    我们已经向您的邮箱 <strong>#{current_user.email}</strong> 发送了验证邮件，请查收。 请点击邮件中的验证链接以完成注册邮箱验证。一旦验证成功，您将获得迷蝴蝶后花园一个月免费畅读。
  %p
    如未正常收到验证邮件，请先检查您的垃圾邮件夹。如仍未发现邮件并等待10分钟后，请再次点击下面的重新发送邮件按钮以要求系统再次发送验证邮件。
  %div
    %form{:class => "form", :method => "get", :action => account_send_registered_email_verify_path, "accept-charset" => "UTF-8"}
      %input{:type => "hidden", :name => "nothing", :id => "nothing", :value => "nothing"}
      %button{:type => "submit", :class => "button-primary", :name => nil}
        重新发送邮件

