%div{:class => "main-text hide-mobile"}
  %h1
    Verify your email

%h2
  When you verify your email, you receive one month of mihudie.com for free and have full access to all our backyard books.

%p
  If you have not received your registration or verification email, please click the link below to resend.  Check your spam folder and ensure future emails form mihudie.com are not marked as spam.
  
= link_to "send verification email", account_send_registered_email_verify_path, class: "action"

