%div{:class => "main-text hide-mobile"}
  %h1
    Verify your email

%p
  You should have received an email when you registered.  Click the link in the email to verify your account.  Once verified, you can read all of mihudie.com's backyard books.
  Check your spam folder.  If you have not received your email, please click the link below to resend.
  
= link_to "send verification email", account_send_registered_email_verify_path, class: "action"

