%div{:class => "main-text"}
  %h1 Welcome to Mihudie 2.0
  %p
    = " 欢迎来到迷蝴蝶文学社区，与同好一同品评、分享和创作。以文会友，不亦悦乎？期待你添砖加瓦，也衷心希望你能在此获得最愉悦的体验。"
    %br
    = " 美梦如真，是耶，非耶，化作蝴蝶！"
    - if @china
      WELCOME CHINA USER

= render partial: 'shared/my_collection', locals: {collection: @books, url_params: {controller: 'books', action: 'list', sort: @sort}, name: nil}

-#  name: "书库"  -- this is an optional local arg to my_collection
