%h2 Privacy Policy
%p
	Your privacy is important to us.
	%br
	This privacy policy discloses the data collection, retention, use, sharing, and privacy practices for Mihudie LLC (“Mihudie”).
	%br
	From time to time, this privacy policy may be updated and, if possible, you will be notified of changes. This document was last updated December 1, 2009.

%p
	%strong Personal information and other data we collect
	%br
	Mihudie collects personal information when you register for our service or otherwise voluntarily provide such information in the use of our services. We may combine personal information collected from you with information from other services or third parties to provide a better user experience, including customizing content for you. 
	%br
	Mihudie uses cookies and other technologies to enhance your online experience and to learn about how you use Mihudie services in order to improve the quality of our services.  
	%br
	Mihudie's servers automatically record information when you visit our website or use some of our products, including the URL, IP address, browser type and language, and the date and time of your request. We also use third party services such as Google Analytics to assist in collecting this information.
	
%p
	%strong Uses
	%br
	We may use personal information to provide the services you've requested, including services that display customized content and advertising.
	%br
	We may also use personal information for auditing, research and analysis to operate and improve Mihudie technologies and services.
	%br
	We may share aggregated non-personal information with third parties outside of Mihudie.
	%br
	When we use third parties to assist us in processing your personal information, we require that they comply with our privacy policy and any other appropriate confidentiality and security measures.
	%br
	We may also share information with third parties in limited circumstances, including when complying with legal process, preventing fraud or imminent harm, and ensuring the security of our network and services.
	%br
	Mihudie processes personal information on our servers in the United States of America and in other countries. In some cases, we process personal information on a server outside your own country.

%p
	%strong Mandatory Communications
	%br
	Mihudie sends all newly registered users a welcome email.  At times, Mihudie sends email to its registered users.  Registered users cannot unsubscribe from these email and other forms of communication for Mihudie to operate effectively.

%p
	%strong Your choices
	%br
	We offer you choices when we ask for personal information, whenever reasonably possible.  You may decline to provide personal information to us and/or refuse cookies in your browser, although some of our features or services may not function properly as a result.  We make good faith efforts to provide you access to your personal information upon request and to let you correct such data if it is inaccurate and delete it, when reasonably possible.

%p
	%strong More information
	%br
	If you have additional questions, please contact us any time via email support@mihudie.com.