%ul{:class => "nav-left l"}
  %li
    %a{:href => root_path}
      迷蝴蝶
  %li
    %a{:href => "javascript:;"}
      分类
    = tags_list
  - if current_user
    %li
      %a{:href => "#"}
        书签
      = bookmarks_list
  - if current_user      
    = account_menu
