%div{:class => (current_user ? "nav-right long clearfix" : "nav-right clearfix")}
  %div{:class => "l nav-icon"}
    %a{:href => "javascript:;", :class => "menu-link"}
      %span
  %ul{:class => "r"}
    - if current_user
      %li{:class => "l hide-mobile"}
        %a{:href => logout_path}
          退出
    - else
      %li{:class => "l"}
        %a{:href => login_path}
          登录
      %li{:class => "l"}
        %a{:href => register_path}
          注册
    %li{:class => "r"}
      %div{:class => "search-bar"}
        %a{:href => "javascript:;", :class => "icon-search"}
          %span
        %form{:class => "form", :method => "get", :action => "/search", "accept-charset" => "UTF-8"}
          %input{:type => "text", :name => "query", :id => "query", :placeholder => "关键字"}
          %button{:type => "submit", :class => "button-primary", :name => nil}
            搜索

  %div{:class => "header-title"}
    = @page_title

