%div{:class => "side-menu"}
  %ul
    %li{:class => "them-list"}
      %a{:href => "javascript:;"}
        皮肤
      %ul
        %li{:class => "theme-1"}
          %span
            小
        %li{:class => "theme-2"}
          %span
            小
        %li{:class => "theme-3"}
          %span
            中
        %li{:class => "theme-4"}
          %span
            中
        %li{:class => "theme-5"}
          %span
            大
        %li{:class => "theme-6"}
          %span
            大
    %li{:class => "back-top"}
      %a{:href => "#"}
        顶部
    %p
      &nbsp;


