#sidebar{:class => "sidebar pure-u-1 pure-u-md-1-4"}
    %div{:class => "header"}
        %a{:href => root_path}
            = image_tag "/images/mihudie_logo.jpg"
        %hgroup
            %h2{:class => "brand-tagline"}
                publish with us ;)
        %div
            :plain
                #{tags_table_all}
